.page-3 {
    width: 1440px;
    height: 900px;
    display: flex;
    /*justify-content: space-evenly;*/
    align-items: center;

}
.header {
    z-index: 3;
}

#page-3-img{
    /*z-index: 1;*/
    position: absolute;
    width: 1440px;
    height: 900px;
}

.page-3-text {
    margin-left: 300px;
    z-index: 3;
    color: white;
    line-height: 25px;
}
.page-3-icon-box {
    justify-content: space-evenly;
    display: flex;

}

.page-3-icon {
    align-items: flex-end;
    margin-left: 100px;
    width: 130px;
    height: 67px;
    flex-wrap: wrap;
    display: flex;
    z-index: 5;
}

.page-3-icon-box {
    left: 200px;
    top: 800px;
    color: white;
    text-align: center;
}
