
.page-2 {
    background: url("../image/1.jpg")no-repeat;
    width: 1440px;
    height: 900px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-size: 100%;
    align-items: center;
}

.page-2-content {
    margin-top: 100px;
    width: 1000px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    color: white;
}

.page-2-content-box {
    width: 340px;
    height: 130px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.page-2-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 1px solid #4985FF;
    box-sizing: border-box;
    border-radius: 50px;
}

.page-2-box {
    display: flex;
}

.page-2-a a {
    display: flex;
    text-decoration: none;
    color: white;
    background: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    transition: 2s;
}

.page-2-a a:hover {
    background: #510303;
    box-shadow: 0 0 2px 2px;
}

