@font-face {
    font-family: test;
    /*src: url("/font/montserrat.ttf") format('truetype');*/
}
.page {
    width: 1440px;
    height: 900px;
    display: flex;
    background: url("../image/0746f16a225bfa607b82c9ce1286212a.jpeg")no-repeat;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-layout {
    background: linear-gradient(30deg,#F78154,#5F12D0,#fd008a,#F1F5FF);
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 100px;
    border-bottom: 1px solid #A1A1A1;
    z-index: 5;
}

.header-layout nav {
    margin-top: 40px;

}

.header-layout a {
    font-size: 30px;
    opacity: 100%;
    font-family: sans-serif;
    color: #E9EFFF;
    margin-left: 40px;
    text-decoration: none;
    transition: 1s;
    z-index: 5;
}

 .page-text{
     color: white;
     display: flex;
     flex-wrap: wrap;
     height: 240px;
     justify-content: center;
    width: 829px;
    font-family: sans-serif;
}
 .page-text a {
     justify-content: center;
     align-items: center;
     display: flex;
     width: 200px;
     height: 45px;
     color: white;
     text-decoration: none;
     background: #4985FF;
     box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
     border-radius: 30px;
     transition: 2s ;
 }

 .header-layout a:hover {
     box-shadow: red 0 2px 0 0;
 }

 .page-text a:hover {
     background: #510303;
     box-shadow: 0 0 2px 2px;

 }
